<span class="carousel__close icon-close"></span>
<div class="carousel__wrap">
</div>
<div class="carousel__footer">
    {{#each pages}}
    <a href="#"  class="carousel__page">{{page}}</a>
    {{/each}}
</div>