<div class="carousel__left icon-chevron-left"></div>
<div class="carousel__main">
    <div class="carousel__header">
        <h3 class="carousel__title">{{title}}</h3>
    </div>
    <a href="#" class="carousel__address">{{address}}</a>
    <div class="carousel__content">{{content}}</div>
</div>
<div class="carousel__right icon-chevron-right"></div>
