<li class="comment">
    <div class="comment_wrap">
        <span class="comment__user">{{userName}} </span> <span class="comment__place">{{place}}</span> <span class="comment__date">{{date}}</span>
    </div>
    <span class="comment__content">{{content}}</span>
</li>