<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGxGM4std4Q43_Ya5ubE_UDetPq7WUh0o&callback=initMap">
  </script>
  <script src="./src/lib/markerclusterer.js"></script>
</head>
<body>
  <div id="map"></div>
</body>
</html>
